<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

</head>

<body>
    <!-- Navbar (barra de navegación) -->
    <nav class="navbar navbar-expand-lg navbar" style="background-color: rgba(0, 0, 0, 0.911);">
        <div class="container-fluid ">
            <!-- Logo en el navbar -->
            <a class="navbar-brand fs-3 " href="{{ url_for('tienda.home') }}" id="logito"><img src="{{ url_for('static', filename='imagen/Logo.webp') }}" alt="UnderKeys"> UnderKeys</a>
            <!-- Botón "hamburguesa" para pantallas pequeñas -->
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menú del navbar que se colapsa en pantallas pequeñas -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('tienda.home') }}"><button class="btn btn-dark fs-6 ms-3"
                                type="button">Menú</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('tienda.productos') }}"><button class="btn btn-dark fs-6 ms-3"
                                type="button">Productos</button></a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('tienda.carrito', user=current_user.nombre )}}"><button
                                class="btn btn-dark  fs-6 ms-3" type="button">Carrito</button></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('tienda.favs', user=current_user.nombre  )}}"><button
                                class="btn btn-dark fs-6 ms-3" type="button">Favoritos</button></a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-dark fs-6 ms-3" type="button">Historial</button>
                    </li>
                    {% endif %}
                </ul>
                <!-- Barra de búsqueda -->
                <form class="d-flex ms-auto barraBusqueda " method="GET" action="{{ url_for('tienda.query') }}" role="form">
                    
                    <input class="form-control form-control-sm me-2" id="search" name="query" type="search" placeholder="Buscar"
                        aria-label="Search">
                        <button class="btn btn-purple text-light" type="submit">Buscar</button>
                    
                </form>
                <!-- Usuario y moneda en pantallas grandes -->
                {% if current_user.is_authenticated %}
                <div class="text-light fs-5 ms-3 d-none d-md-block"> </i>{{ current_user.nombre }}<span id="username"></span>
                </div>
                <a href="{{ url_for('tienda.logout') }}"> Logout</a>
                {% else %}
                <a href="{{ url_for('tienda.login') }}"><button class="btn btn-dark fs-6 ms-3" type="button">Iniciar
                        Sesión</button></a>
                <a href="{{ url_for('tienda.registerform') }}"><button class="btn btn-dark fs-6 ms-3"
                        type="button">Registrarse</button></a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div>
        {% block container %}{% endblock %}
        <!-- Copyright -->
        <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.911);">
            <!-- Footer -->
            <footer class="text-center">
                <div class="container p-4 pb-0">
                    <!-- Sección: Redes sociales -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #3b5998;" href="facebook.com" role="button"><i
                                class="fab fa-facebook-f" title="Facebook"></i></a>

                        <!-- Twitter -->
                        <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #55acee;" href="twitter.com" role="button"><i
                                class="fab fa-twitter" title="Twitter"></i></a>

                        <!-- Google -->
                        <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #dd4b39;" href="google.com" role="button"><i
                                class="fab fa-google" title="Google"></i></a>

                        <!-- Instagram -->
                        <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #ac2bac;" href="https://www.instagram.com" role="button"><i
                                class="fab fa-instagram" title="Instagram"></i></a>

                        <!-- Linkedin -->
                        <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #0082ca;" href="https://es.linkedin.com" role="button"><i
                                class="fab fa-linkedin-in" title="Linkedin"></i></a>

                        <!-- Github -->
                        <a data-mdb-ripple-init class="btn text-white btn-floating m-1"
                            style="background-color: #333333;" href="https://github.com/benazk/ProyectoTiendaOnline"
                            role="button"><i class="fab fa-github" title="Github"></i></a>
                    </section>
                </div>
                <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span
                        property="dct:title">© 2025 Copyright Juegos</span> is licensed under <a
                        href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank"
                        rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0<img
                            style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="creativecommons"><img
                            style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="creativecommons"><img
                            style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="creativecommons"><img
                            style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="creativecommons"></a>
                </p>
        </div>
  </footer>
    <!-- Agregar iconos a los botones de categorías -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vue.global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
  </div>
</body>

</html>