{% extends 'home.html' %}

{% block container %}
  <div>
    <form method="GET"
        action="{{ url_for('catalog.create_product') }}"
        role="form">
      
      <div>
          <label for="name">Nombre producto:</label>
          <input type="text" id="name" name="nombre" required>
      </div>
      <div>
          <label for="price">Precio producto:</label>
          <input type="text" id="price" name="precio" required>
      </div>
      <div>
        <label for="category">Categoría producto:</label>
        <input type="text" id="category" name="categoria" required>
    </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
{% endblock %}