{% extends 'base.html' %}

{% block container %}
  <h1>Página de login</h1>
  {% if current_user.is_authenticated %}
    <h3>Hola {{ current_user.username }}!!</h3>
    <a href="{{ url_for('catalog.logout') }}">Click here to logout</a>
  {% else %}
  Click here to <a href="{{ url_for('catalog.login') }}">login</a> 
    or <a href="{{ url_for('catalog.register') }}">register</a>
  {% endif %}


<div>
  <h1>Crear nuevo Producto
  <a href="{{ url_for('catalog.create_product') }}">Formulario</a>
</h1>
{% for product in products %}
    <div>
      <h2>
        <a href="#">{{ product.nombre }}</a>
        <small>{{ product.precio }}€</small>
        <small>{{ product.descripcion }}</small>
      </h2>
    </div>
  {% endfor %}
  {% endblock %}