{% extends 'base.html' %}

{% block container %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{producto["nombre"]}}</title>
    <style>
        /* En pantallas pequeñas, los botones de la navbar ocuparán toda la anchura */
        @media (max-width: 991px) {
            .nav-item button {
                width: 90%;
                margin: 5px 0;
            }

            .barraBusqueda {
                width: 90%;
                margin-right: 6%;
            }
        }
    </style>
</head>

<body>
    <!-- Contenedor principal -->
    <div class="container mt-5 bg-black">
        <h1 class="text-light">{{producto["nombre"]}}</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-7 mt-3 mb-3 mx-left-3 mx-right-3">
                <div class="container mt-3 mb-3 mx-left-3 mx-right-3" id="imagen">
                    <img src="{{url_for('static', filename=producto['imagenBig'])}}" alt="{{producto['nombre']}}"
                        class="img-fluid">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5 mx-left-3 mx-right-3">
                <div class="container mt-3 mb-3 mx-left-3 mx-right-3" id="info" style="background: rgb(133,31,61);">
                    <div class="row text-black">
                        <p class="small mt-3 mb-3 mx-left-3 mx-right-3 bg-light" id="descripcion">
                            {{producto["descripcion"]}}</p>
                        <p class="small mt-0 mb-0 bg-light">Categoría: {{categoria["nombre"]}} </p>
                        {% if producto["disponibilidad"] == true %}
                        <p class="small mt-0 mb-0 bg-light">Este producto está en stock</p>
                        {% else %}
                        <p class="small mt-0 mb-0 bg-light">Este producto está fuera de stock</p>
                        {% endif %}
                        <p class="small mt-0 mb-0 bg-light">Desarrolladora: {{producto["desarrolladora"]}} </p>
                        <p class=" mt-0 mb-0 bg-light">{{producto["precio"]}}€</p>
                        {% if current_user.is_authenticated %}
                        {% if existing_prod == none %}
                        <a
                            href="{{ url_for('tienda.add_carrito', idUser=current_user.idUsuario, idProd=producto['idProducto']) }}"><button
                                type="button" class="btn btn-primary btn-sm">Añadir al carrito</button></a>
                        {% else %}
                        <p class="mb-0"><strong>Producto en el carrito.</strong></p>
                        {% endif %}
                        {% else %}
                        <a href="{{url_for('tienda.login')}}"><button type="button"
                                class="btn btn-primary btn-sm">Añadir al carrito</button></a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        {% if existing_fav == none %}
                        <a
                            href="{{ url_for('tienda.add_favs', idUser=current_user.idUsuario, idProd=producto['idProducto']) }}"><button
                                type="button" class="btn btn-primary btn-sm">Añadir a la lista de favoritos</button></a>
                        {% else %}
                        <p><strong>Producto en la lista de favoritos.</strong></p>
                        {% endif %}
                        {% endif %}
                    </div>
                    <br>
                    <p class="mb-0 text-black bg-light">Etiquetas similares para este producto:</p>
                    {% for clave in producto["palabrasClave"] %}
                    <button type="button" class="btn btn-secondary btn-sm mb-3">{{clave}}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Contenedor Agregar Comentarios -->
    {% if current_user.is_authenticated %}
    <div class="container mt-3 mb-5 bg-black">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mt-3 mb-3 mx-left-3 mx-right-3">
                <h2 class="m-0 text-light">Agrega un comentario</h2>
                <form method="GET" action="{{ url_for('tienda.anadirComentario', id=producto['idProducto'])}}"
                    role="form">
                    <div class="form-group mb-4">
                        <textarea class="form-control" id="comentario" name="comentario" placeholder="comentario"
                            rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar comentario</button>
                </form>
            </div>
            {% endif %}
            <div class="col-sm-12 col-md-6 col-lg-8 mt-3 mb-3 mx-left-3 mx-right-3">
                <h2 class="text-light mb-0">Comentarios relacionados con este producto</h2>
                <!-- Contenedor Visualizar Comentarios -->
                {% if comentarios %}
                {% for comentario in comentarios%}
                <div class="container-fluid text-black bg-light mt-0">
                    <p class="m-0"><strong>Nombre: {{comentario["usuario"]}}</strong></p>
                    <p><strong>Comentario: {{comentario["comentario"]}}</strong></p>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}