{% extends 'base.html' %}

{% block container %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{producto["nombre"]}}</title>
    <style>
        /* En pantallas pequeñas, los botones de la navbar ocuparán toda la anchura */
        @media (max-width: 991px) {
            .nav-item button {
                width: 90%;
                margin: 5px 0;
            }

            .barraBusqueda {
                width: 90%;
                margin-right: 6%;
            }
        }
    </style>
</head>

<body>
    <!-- Contenedor principal -->
    <div class="container mt-5 bg-black">
        <h1 class="text-light">{{producto["nombre"]}}</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="container">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner mt-5 mb-5">
                            <div class="carousel-item active">
                                <img src="{{url_for('static', filename=producto['imagen'])}}" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename=producto['imagen'])}}" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename=producto['imagen'])}}" class="d-block w-100"
                                    alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="container bg-light">
                    <div class="row">
                        <div class="container" id="imagen">
                            <img src="https://cdn.pixabay.com/photo/2017/04/04/18/09/video-game-console-2202582_960_720.jpg"
                                style="width: 150px; height: 150px;" alt="Ejemplo de imagen responsiva">
                        </div>
                        <p class="small" id="descripcion">{{producto["descripcion"]}}</p>
                        <p class="small">Categoría: {{categoria["nombre"]}} </p>

                        {% if producto["disponibilidad"] == true %}
                        <p class="small">Este producto esta en stock</p>
                        {% else %}
                        <p class="small">Este producto esta fuera de stock</p>
                        {% endif %}
                        <p class="small">Desarrolladora: {{producto["desarrolladora"]}} </p>
                        <p class="small">{{producto["precio"]}}€</p>
                        {% if current_user.is_authenticated %}
                        {% if existing_prod == none %}
                        <a
                            href="{{ url_for('catalog.add_carrito', idUser=current_user.idUsuario, idProd=producto['idProducto']) }}"><button
                                type="button" class="btn btn-primary btn-sm">Añadir al carrito</button></a>
                        {% else %}
                        <button type="button" class="btn btn-gray btn-sm" style="border: 1px solid black;">Producto
                            ya en el carrito</button>
                        {% endif %}
                        {% else %}
                        <a href="{{url_for('catalog.login')}}"><button type="button"
                                class="btn btn-primary btn-sm">Añadir al carrito</button></a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        {% if existing_fav == none %}
                        <a
                            href="{{ url_for('catalog.add_favs', idUser=current_user.idUsuario, idProd=producto['idProducto']) }}">ADD</a>
                        {% else %}
                        Ya te gusta esto
                        {% endif %}
                        {% endif %}


                    </div>
                    <br>
                    {% for clave in producto["palabrasClave"] %}
                    <button type="button" class="btn btn-secondary btn-sm"> {{clave}}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>
{% endblock %}