{% extends 'home.html' %}

{% block container %}
  <div>
    <h1>Crear nuevo Producto
    <a href="{{ url_for('catalog.create_product') }}">Formulario</a>
  </h1>
  {% for product in products.items() %}
      <div>
        <h2>
          <a href="{{ url_for('catalog.product', id=product.id) }}">{{ product.name }}</a>
          <small>€ {{ product.price }}</small>
        </h2>
      </div>
    {% endfor %}
    {% if products.has_prev %}
      <a href="{{ url_for(request.endpoint, page=products.prev_num) }}">
        << Previous Page
      </a>
    {% else %}
      {{"<< Previous Page"}} <!-- puesto entre llaves es como un string de javascipt, entre ""-->
    {% endif %} |
    {% if products.has_next %}
      <a href="{{ url_for(request.endpoint, page=products.next_num) }}">
        Next page >>
      </a>
    {% else %}
      {{"Next page >>"}}
    {% endif %}
  </div>
{% endblock %}