{% extends 'index.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todos los juegos</title>
    <style>
        /* En pantallas pequeñas, los botones de la navbar ocuparán toda la anchura */
        @media (max-width: 991px) {
            .nav-item button {
                width: 90%;
                margin: 5px 0;
            }

            .barraBusqueda {
                width: 90%;
                margin-right: 6%;
            }
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container mt-5 mb-5 mx-left-5 mx-right-5">
        <h1 class="text-center text-white">Productos</h1>
        <div class="row" id="containerbucle" data-user-cards-container>
            {% for prod in productos.items %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card bg-black mt-3">
                    <img src="{{ url_for('static', filename=prod['imagen']) }}" class="card-img-top"
                        style="height: 200px;" alt="{{prod['nombre']}}">
                    <div class="card-body">
                        <a href="{{ url_for('catalog.producto', id=prod['idProducto']) }}">
                            <h5 class="card-title text-white" data-header>{{prod["nombre"]}}</h5>
                        </a>
                        <p class="card-text text-success" data-body><b>{{"%.2f" % prod["precio"]}}€</b></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h1>AMONGUS 2</h1><h2>AMONGUS 4</h2><button>AMONGUS 5</button>
    <!-- Agregar iconos a los botones de categoríaasas -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    </body>
        
        <div class="search-wrapper">
            <label for="search">Buscar Videojuego</label>
            <input type="search" id="search" onfocus="onSearchbarFocus()" data-search>
          </div>
            
        <script>
            const userCardTemplate = document.querySelector("[data-user-template]");
            const userCardContainer = document.querySelector("#containerbucle");
            const searchInput = document.querySelector("#search");
            
            let users = [];
            userCardContainer.querySelectorAll(".card").forEach(card => {
              const header = card.querySelector(".card-title").innerText;
            
              const body = card.querySelector(".card-text").innerText; 
            
              users.push({ 
                Nombre: header, 
                Precio: body, 
                element: card 
              });
            });
            searchInput.addEventListener("input", e => {
              const value = e.target.value.toLowerCase();
              users.forEach(user => {
                const isVisible = user.Nombre.toLowerCase().includes(value);
                user.element.classList.toggle("hide", !isVisible);
              });
            });
            
            
            
            
            console.log(users)
            </script>

</body>

</html>

{% endblock %}