{% extends 'index.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todos los juegos</title>
    <style>
        /* En pantallas pequeñas, los botones de la navbar ocuparán toda la anchura */
        @media (max-width: 991px) {
            .nav-item button {
                width: 90%;
                margin: 5px 0;
            }
            .barraBusqueda {
                width: 90%;
                margin-right: 6%;
            }
        }
    </style>
</head>

<body>
    <h1>Productos de la categoría: {{nombreCateg}}</h1>
    <!-- Contenedor principal con fila para juegos y sidebar -->
    <div class="container mt-5 pt-5">
        <div class="row">
            <!-- Columna para los juegos -->
            <div class="col-md-9">
                <div class="row mb-4">
                    {% for categ in res %}
                    <div class="col-md-4!">
                        <div class="card" height="400px">
                            <img loading="lazy" src="{{url_for('static', filename=categ['imagen'])}}" class="card-img-top"
                                alt="{{categ['nombre']}}">
                            <div class="card-body">
                                <a href="{{ url_for('catalog.producto', id=categ['id']) }}"><h5 class="card-title">{{categ["nombre"]}}</h5></a>
                                <p class="card-text"><b>{{"%.2f" % categ["precio"]}}€</b></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Agregar iconos a los botones de categorías -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</body>

</html>
{% endblock %}