{% extends 'index.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todos los juegos</title>
    <style>
        /* En pantallas pequeñas, los botones de la navbar ocuparán toda la anchura */
        @media (max-width: 991px) {
            .nav-item button {
                width: 90%;
                margin: 5px 0;
            }

            .barraBusqueda {
                width: 90%;
                margin-right: 6%;
            }
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body">
    <div class="container mt-5 mb-5 mx-left-5 mx-right-5">
        <h1 class="text-center text-white">Productos</h1>
        <div class="row">
            <!-- Columna para los juegos -->
            {% for prod in productos.items %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card bg-black mt-3">
                    <img src="{{ url_for('static', filename=prod['imagen']) }}" class="card-img-top"
                        style="height: 200px;" alt="{{prod['nombre']}}">
                    <div class="card-body">
                        <a href="{{ url_for('catalog.producto', id=prod['idProducto']) }}">
                            <h5 class="card-title text-white">{{prod["nombre"]}}</h5>
                        </a>
                        <p class="card-text text-success"><b>{{"%.2f" % prod["precio"]}}€</b></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Paginación -->
    {% if productos.has_prev %}
    <a href="{{ url_for(request.endpoint, page=productos.prev_num) }}">
        << Previous Page </a>
            {% else %}
            {{"<< Previous Page"}} {% endif %} | {% if productos.has_next %} <a
                href="{{ url_for(request.endpoint, page=productos.next_num) }}">
                Next page >>
    </a>
    {% else %}
    {{"Next page >>"}}
    {% endif %}

    <!-- Agregar iconos a los botones de categorías -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    </body>

</html>
{% endblock %}