.btn{
    border-radius: 0px;
}
.form-control{
    border-radius: 0px;
}
.form-select{
    border-radius: 0px;
}
.card{
    border-radius: 0px;
}
.card-img-top{
    border-radius: 0px;
}

#carruselSlide{ 
    background-color: rgb(58, 58, 58);
}
.btn-purple{
    background-color: rgb(156, 92, 156);
}
a{
    list-style: none; 
}

.navbar {
    background-color: #171a21;
}

.navbar-brand {
    color: #66c0f4 !important;
}

.nav-item button {
    background: none;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
}

.nav-item button:hover {
    background-color: #4c6b90;
    border-radius: 0px;
}

.btn-primary {
    background-color: #66c0f4;
    border: none;
}

.btn-dark:hover {
    background-color: #4c6b90;
    border-radius: 0px;
}
body {
    background: rgb(133,31,61);
    background: linear-gradient(180deg, rgba(133,31,61,1) 20%, rgba(41,6,6,1) 60%);
}